spacy==3.7.2
pillow==10.2.0
pytesseract==0.3.10
PyMuPDF==1.23.16
yake==0.4.8
whisper==1.1.10
torch==2.2.2
torchaudio==2.2.2
ffmpeg-python==0.2.0
spacy==3.7.2
pillow==10.2.0
pytesseract==0.3.10
PyMuPDF==1.23.16
yake==0.4.8
whisper==1.1.10
torch==2.2.2
torchaudio==2.2.2
ffmpeg-python==0.2.0